<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <title>Admin Page</title>
    <!--     **********************     BOOTSTRAP CSS     **********************     -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <!--     **********************     MATERIAL ICONS     **********************     -->
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200"/>
    <!--     **********************     CUSTOM CSS     **********************     -->
    <link rel="stylesheet" href="../../css/style.css">
</head>
<body>
    <nav class="navbar bg-primary sticky-top navbar-expand-lg">
        <div class="container-fluid">
            <a class="navbar-brand text-light" href="#">Admin Page</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link text-light" href="#">Patients</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-light" href="#">Doctors</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-light" href="#">Medicines</a>
                    </li>
                    <li class="nav-item">
                        <button class="btn btn-danger me-2" type="button" id="sign-off">Sign Off</button>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="container mt-3" id="content-main">
        <h1 class="text-center text-primary">Show Patients</h1>
        <div class="row mt-4" id="formButtons">
            <button
                class="btn btn-success m-2 d-flex align-items-center justify-content-center"
                type="button"
                data-bs-toggle="modal"
                data-bs-target="#saveModal"
                id="savePatientBtn"
            >
                <span class="material-symbols-outlined">add</span>
            </button>
            <button
                class="btn btn-primary m-2 d-flex align-items-center justify-content-center"
                type="button"
            >
                <span class="material-symbols-outlined">search</span>
            </button>
        </div>
        <div class="my-3">
            <div id="messageUI"></div>
        </div>
        <div class="row mt-4">
            <table class="table table-bordered table-primary" id="patientTable">
                <thead class="text-center">
                        <tr class="text-primary">
                        <td class="text-secondary">Id Patient</td>
                        <td class="text-secondary">Email</td>
                        <td class="text-secondary">Name & Last Name</td>
                        <td class="text-secondary">DNI</td>
                        <td class="text-secondary">Phone</td>
                        <td class="text-secondary">Address</td>
                        <td class="text-secondary">State</td>
                        <td class="text-secondary">Actions</td>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>
            <p id="resultFound" class="text-center">There are no patient to show...</p>
        </div>
    </div>
    <!-- Vertically centered modal -->
    <div class="modal fade" id="saveModal" tabindex="-1" aria-labelledby="saveModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-4" id="saveModalLabel">Patient Save</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="mb-3">
                        <label for="inputID" class="form-label fs-6">ID</label>
                        <input type="text" class="form-control form-control-sm" id="inputID" disabled>
                    </div>
                    <div class="mb-3">
                        <label for="inputEmail" class="form-label fs-6">Email</label>
                        <input type="email" class="form-control form-control-sm" id="inputEmail" placeholder="Enter email">
                    </div>
                    <div class="mb-3">
                        <label for="inputNames" class="form-label fs-6">Name & Last Name</label>
                        <input type="text" class="form-control form-control-sm" id="inputNames" placeholder="Enter name & last name">
                    </div>
                    <div class="mb-3">
                        <label for="inputDNI" class="form-label">DNI</label>
                        <input type="text" class="form-control form-control-sm" id="inputDNI" placeholder="Enter DNI">
                    </div>
                    <div class="mb-3">
                        <label for="inputPhone" class="form-label">Phone</label>
                        <input type="text" class="form-control form-control-sm" id="inputPhone" placeholder="Enter phone">
                    </div>
                    <div class="mb-3">
                        <label for="inputAddress" class="form-label">Address</label>
                        <input type="text" class="form-control form-control-sm" id="inputAddress" placeholder="Enter address">
                    </div>
                    <div class="mb-3">
                        <label for="selectState" class="form-label">State</label>
                        <select class="form-select form-select-sm" aria-label="Small select example" id="selectState">
                            <option value="1" selected>Active</option>
                            <option value="0">Inactive</option>
                        </select>
                    </div>
                    <div class="mb-3">
                        <div class="messageForm"></div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" id="saveChangesBtn">Save changes</button>
                </div>
            </div>
        </div>
    </div>
    <!-- Vertically centered modal -->
    <div class="modal fade" id="updateModal" tabindex="-1" aria-labelledby="updateModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-4" id="updateModalLabel">Patient Update</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="mb-3">
                        <label for="inputUpdateID" class="form-label fs-6">ID</label>
                        <input type="text" class="form-control form-control-sm" id="inputUpdateID" disabled>
                    </div>
                    <div class="mb-3">
                        <label for="inputUpdateEmail" class="form-label fs-6">Email</label>
                        <input type="email" class="form-control form-control-sm" id="inputUpdateEmail" placeholder="Enter email" disabled>
                    </div>
                    <div class="mb-3">
                        <label for="inputUpdateNames" class="form-label fs-6">Name & Last Name</label>
                        <input type="text" class="form-control form-control-sm" id="inputUpdateNames" placeholder="Enter name & last name">
                    </div>
                    <div class="mb-3">
                        <label for="inputUpdateDNI" class="form-label">DNI</label>
                        <input type="text" class="form-control form-control-sm" id="inputUpdateDNI" placeholder="Enter DNI" disabled>
                    </div>
                    <div class="mb-3">
                        <label for="inputUpdatePhone" class="form-label">Phone</label>
                        <input type="text" class="form-control form-control-sm" id="inputUpdatePhone" placeholder="Enter phone">
                    </div>
                    <div class="mb-3">
                        <label for="inputUpdateAddress" class="form-label">Address</label>
                        <input type="text" class="form-control form-control-sm" id="inputUpdateAddress" placeholder="Enter address">
                    </div>
                    <div class="mb-3">
                        <label for="selectUpdateState" class="form-label">State</label>
                        <select class="form-select form-select-sm" aria-label="Small select example" id="selectUpdateState">
                            <option value="1" selected>Active</option>
                            <option value="0">Inactive</option>
                        </select>
                    </div>
                    <div class="mb-3">
                        <div class="messageForm"></div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" id="updateChangesBtn">Update changes</button>
                </div>
            </div>
        </div>
    </div>
    <!--     **********************     BOOTSTRAP JS     **********************     -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
    <!--     **********************     CUSTOM SCRIPTS     **********************     -->
    <script src="./../../js/admin.js" type="module"></script>
</body>
</html>